/* CSS for login background */
/* Background */
body.hold-transition.login-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; /* Dibutuhkan untuk elemen pseudo */
    overflow: hidden; /* Pastikan tidak ada scroll akibat elemen pseudo */
    background-image: url('adminlte/dist/img/background_polinema.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Overlay gelap dengan transparansi */
.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Warna gelap transparan */
    z-index: 1; /* Pastikan berada di atas background */
}

/* Styling for login box */
.rounded-logo {
    width: 150px !important; /* Ukuran lebar logo diperbesar */
    height: 150px !important; /* Ukuran tinggi logo diperbesar */
    border-radius: 50%; /* Membuat bentuk lingkaran */
    object-fit: cover; /* Memastikan gambar memenuhi lingkaran */
    border: 2px solid #0D6EFD; /* Opsional: menambahkan border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opsional: menambahkan bayangan */
    display: block; /* Menjamin elemen di-render dengan benar */
    margin: 0 auto; /* Memusatkan logo secara horizontal */
}

.logos {
    text-align: center; /* Memposisikan logo di tengah */
    margin-bottom: 1.5rem; /* Menambahkan jarak bawah opsional */
}

#logo-link:hover {
    text-decoration: none; /* Menghapus efek underline pada hover */
    transform: scale(1.1); /* Animasi zoom lebih besar saat hover */
    transition: transform 0.3s ease-in-out;
}

.login-box {
    width: 400px; /* Lebar kotak login */
    position: relative; /* Agar berada di atas overlay */
    z-index: 2; /* Pastikan di atas layer overlay */
}

.card {
    background: rgba(255, 255, 255, 0.9); /* Transparansi pada card */
    border-radius: 10px; /* Membuat sudut membulat */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Memberikan bayangan */
}

/* Styling for buttons */
.btn-primary {
    width: 50%; /* Atur lebar tombol */
    margin: 0 auto; /* Memusatkan tombol */
    display: block;
}
.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    width: 50%;
    margin: 0 auto;
    display: block;
    color: #6c757d; /* Warna teks default */
    background-color: #fff; /* Latar belakang putih */
    transition: all 0.3s ease; /* Transisi halus untuk efek hover dan klik */
}

.btn-secondary:hover {
    background-color: #f8f9fa;
    color: #495057;
    border-color: #cfd2d4;
}

.divider {
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #6c757d;
}
